.article2 {
  position: absolute;
  top: 240px;
  left: 20px;
  font-weight: 500;
}
.frame-child20 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  width: 692px;
  height: 220px;
  object-fit: cover;
}
.ive-worked-in2 {
  position: absolute;
  top: 347px;
  left: 20px;
  font-size: var(--font-size-lgi);
  line-height: 134.17%;
  color: var(--color-dimgray-200);
  display: inline-block;
  width: 652px;
}
.baseline-more-vert-24px-icon5 {
  position: absolute;
  top: 1px;
  left: 624px;
  width: 28px;
  height: 28px;
  overflow: hidden;
  object-fit: contain;
}
.what-if-famous1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 134.17%;
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.frame5 {
  position: absolute;
  top: 275px;
  left: 20px;
  width: 652px;
  height: 60px;
  overflow: hidden;
  font-size: var(--font-size-3xl);
}
.iconactionvisibility-24px5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.k-views5 {
  position: absolute;
  top: 0;
  left: 26px;
  font-weight: 500;
}
.frame-child21,
.frame7 {
  position: absolute;
  top: 15px;
  left: 475px;
  width: 95px;
  height: 18px;
}
.frame-child21 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.sarthak-kamra1 {
  position: absolute;
  top: 12px;
  left: 58px;
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-black);
  text-align: left;
}
.frame-child22 {
  height: 75%;
  width: 6.44%;
  top: 12.5%;
  right: 0;
  bottom: 12.5%;
  left: 93.56%;
  max-width: 100%;
  max-height: 100%;
}
.frame-child22,
.frame4,
.frame6 {
  position: absolute;
  overflow: hidden;
}
.frame6 {
  top: 404px;
  left: 20px;
  width: 652px;
  height: 48px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-300);
}
.frame4 {
  top: -1px;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 694px;
  height: 474px;
}
.baseline-more-vert-24px-icon6 {
  position: absolute;
  top: 276px;
  left: 644px;
  width: 28px;
  height: 28px;
  overflow: hidden;
  object-fit: contain;
}
.tax-benefits-for1 {
  position: absolute;
  top: 275px;
  left: 20px;
  font-size: var(--font-size-3xl);
  line-height: 134.55%;
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.frame-child24 {
  position: absolute;
  top: 404px;
  left: 20px;
  border-radius: var(--br-5xl);
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.sarah-west1 {
  position: absolute;
  top: 416px;
  left: 78px;
  font-weight: 600;
}
.frame9 {
  position: absolute;
  top: 419px;
  left: 495px;
  width: 95px;
  height: 18px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-300);
}
.frame-child25,
.frame8 {
  position: absolute;
  overflow: hidden;
}
.frame-child25 {
  height: 7.63%;
  width: 6.07%;
  top: 86.86%;
  right: 2.89%;
  bottom: 5.51%;
  left: 91.04%;
  max-width: 100%;
  max-height: 100%;
}
.frame8 {
  top: 487px;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 694px;
  height: 474px;
}
.visit-website2 {
  position: absolute;
  top: 10px;
  left: 286px;
  line-height: 140.4%;
  font-weight: 600;
}
.visit-website-frame {
  position: absolute;
  top: 352px;
  left: 20px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 0.7px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 652px;
  height: 38px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-tomato);
}
.outline-location-on-24px-icon3 {
  position: absolute;
  top: 0;
  left: 206px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.ahmedabad-india2,
.fri-12-oct2 {
  position: absolute;
  top: 0;
  left: 230px;
  font-weight: 500;
}
.fri-12-oct2 {
  left: 24px;
  display: inline-block;
  width: 142px;
}
.baseline-today-24px-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.frame-div {
  position: absolute;
  top: 316px;
  left: 20px;
  width: 358px;
  height: 20px;
  font-size: var(--font-size-mini);
}
.finance-investment2 {
  position: absolute;
  top: 275px;
  left: 20px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.ronal-jones2 {
  position: absolute;
  top: 12px;
  left: 58px;
  font-weight: 600;
}
.frame11,
.rectangle-container {
  position: absolute;
  top: 422px;
  left: 20px;
  width: 160px;
  height: 48px;
}
.frame11 {
  top: 437px;
  left: 495px;
  width: 95px;
  height: 18px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-300);
}
.frame-child28 {
  position: absolute;
  height: 7.35%;
  width: 6.07%;
  top: 87.35%;
  right: 2.89%;
  bottom: 5.31%;
  left: 91.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.edit1 {
  position: absolute;
  top: 7px;
  left: 12px;
}
.edit-container,
.option-3-container,
.report-container {
  position: absolute;
  left: 0;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 160px;
  height: 32px;
}
.edit-container {
  top: 4px;
  text-align: right;
}
.option-3-container,
.report-container {
  top: 35px;
}
.option-3-container {
  top: 66px;
}
.frame-parent1,
.frame10 {
  position: absolute;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
}
.frame-parent1 {
  top: 308px;
  left: 512px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16), 0 0 2px rgba(0, 0, 0, 0.08);
  width: 160px;
  height: 102px;
  font-size: var(--font-size-sm);
}
.frame10 {
  top: 975px;
  left: -1px;
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 694px;
  height: 492px;
  overflow: hidden;
}
.frame13 {
  position: absolute;
  top: 216px;
  left: 495px;
  width: 95px;
  height: 18px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-300);
}
.baseline-more-vert-24px-icon8 {
  position: absolute;
  top: 56px;
  left: 672px;
  width: 28px;
  height: 28px;
  overflow: hidden;
  object-fit: contain;
}
.job2,
.software-developer1 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: 500;
}
.software-developer1 {
  top: 55px;
  font-size: var(--font-size-3xl);
  line-height: 134.55%;
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.frame-child29 {
  position: absolute;
  top: 201px;
  left: 20px;
  border-radius: var(--br-5xl);
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.joseph-gray1 {
  position: absolute;
  top: 213px;
  left: 78px;
  font-weight: 600;
}
.outline-location-on-24px-icon4 {
  position: absolute;
  top: 0;
  left: 290px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.innovaccer-analytics-private1,
.noida-india1 {
  position: absolute;
  top: 0;
  left: 314px;
  font-weight: 500;
}
.innovaccer-analytics-private1 {
  left: 24px;
}
.outline-location-on-24px-parent1 {
  position: absolute;
  top: 97px;
  left: 20px;
  width: 399px;
  height: 20px;
  font-size: var(--font-size-mini);
}
.apply-on-timesjobs1 {
  position: absolute;
  top: 9px;
  left: 266px;
  line-height: 140.4%;
  font-weight: 600;
}
.apply-on-timesjobs-container {
  position: absolute;
  top: 133px;
  left: 22px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 0.7px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 650px;
  height: 36px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-mediumseagreen);
}
.frame-child30,
.frame12 {
  position: absolute;
  overflow: hidden;
}
.frame-child30 {
  height: 13.38%;
  width: 6.07%;
  top: 76.95%;
  right: 2.89%;
  bottom: 9.67%;
  left: 91.04%;
  max-width: 100%;
  max-height: 100%;
}
.frame12 {
  top: 1481px;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 694px;
  height: 271px;
}
.frame-container {
  position: absolute;
  top: -42px;
  left: 200px;
  width: 692px;
  height: 1751px;
  font-size: var(--font-size-lg);
}
.rectangle2,
.rectangle3 {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 122px;
}
.rectangle3 {
  top: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  height: 72px;
}
.baseline-arrow-drop-down-24px-icon2 {
  position: absolute;
  top: 7px;
  left: 156px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.frame-child31 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.siddharth-goyal1 {
  position: absolute;
  top: 9px;
  left: 48px;
  display: inline-block;
  width: 104px;
}
.baseline-arrow-drop-down-24px-group,
.whole-icon1 {
  position: absolute;
  top: 18px;
  left: 1062px;
  width: 178px;
  height: 36px;
}
.whole-icon1 {
  top: 24px;
  left: 72px;
  width: 162.6px;
  height: 24px;
  overflow: hidden;
}
.logged-in-user-scrolled-fo-child {
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-ibm-plex-sans);
  font-size: var(--font-size-sm);
  background-color: var(--color-whitesmoke-200);
  position: absolute;
  top: 16px;
  left: 540px;
  border-radius: var(--br-2xl);
  width: 360px;
  height: 42px;
  padding: var(--padding-xs) var(--padding-31xl) var(--padding-2xs);
  box-sizing: border-box;
  color: var(--color-dimgray-200);
}
.line2 {
  top: 139.5px;
  left: 199.5px;
  border-top: 1px solid var(--color-gainsboro-100);
  width: 1041px;
}
.line2,
.line3,
.logged-in-user-scrolled-fo-item {
  position: absolute;
  box-sizing: border-box;
  height: 1px;
}
.line3 {
  top: 83.5px;
  left: 71.5px;
  border-top: 1px solid var(--color-gainsboro-100);
  width: 1297px;
  opacity: 0;
}
.logged-in-user-scrolled-fo-item {
  top: 139.5px;
  left: 199.5px;
  border-top: 1px solid var(--color-black);
  width: 94px;
}
.all-posts321 {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-black);
}
.article3 {
  position: absolute;
  top: 0;
  left: 113px;
}
.education3,
.event1,
.job3 {
  position: absolute;
  top: 0;
  left: 180px;
}
.education3,
.job3 {
  left: 239px;
}
.job3 {
  left: 331px;
}
.all-posts32-group {
  position: absolute;
  top: 99px;
  left: 200px;
  width: 358px;
  height: 21px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.visit-website-wrapper1 {
  position: absolute;
  top: 352px;
  left: 20px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 0.7px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 652px;
  height: 38px;
  text-align: center;
  color: var(--color-tomato);
}
.baseline-more-vert-24px-icon9 {
  position: absolute;
  top: 276px;
  left: 672px;
  width: 28px;
  height: 28px;
  overflow: hidden;
  object-fit: contain;
}
.meetup3 {
  position: absolute;
  top: 240px;
  left: 20px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.iconactionvisibility-24px9 {
  position: absolute;
  top: 15px;
  left: 557px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.k-views9 {
  position: absolute;
  top: 15px;
  left: 583px;
  font-weight: 500;
}
.iconactionvisibility-24px-group {
  position: absolute;
  top: 422px;
  left: 20px;
  width: 652px;
  height: 48px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-300);
}
.frame-parent2 {
  position: absolute;
  top: 1143px;
  left: 199px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 694px;
  height: 492px;
  font-size: var(--font-size-smi);
}
.leave-group1 {
  position: absolute;
  top: 8px;
  left: 38px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-ibm-plex-sans);
  color: var(--color-dimgray-100);
  text-align: left;
}
.outline-exit-to-app-24px-icon1 {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.leave-group-group {
  cursor: pointer;
  border: 0.8px solid var(--color-darkgray-200);
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 92px;
  left: 1106px;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  width: 134px;
  height: 36px;
}
.write-a-post1 {
  position: absolute;
  top: 8px;
  left: 12px;
  font-weight: 500;
}
.baseline-arrow-drop-down-24px-icon3 {
  position: absolute;
  top: 7px;
  left: 105px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.write-a-post-group {
  position: absolute;
  top: 92px;
  left: 957px;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-300);
  width: 133px;
  height: 36px;
  font-size: var(--font-size-mini);
}
.logged-in-user-scrolled-fo-inner {
  position: absolute;
  top: 224.8px;
  left: 994.8px;
  border-top: 0.4px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 243.4px;
  height: 0.4px;
}
.enter-your-location1 {
  border: 0;
  outline: 0;
  font-family: var(--font-ibm-plex-sans);
  font-size: var(--font-size-sm);
  background-color: transparent;
  position: absolute;
  top: 196px;
  left: 1017px;
  text-align: left;
}
.outline-location-on-24px-2-icon1 {
  position: absolute;
  top: 196px;
  left: 995px;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.your-location-will1 {
  position: absolute;
  top: 0;
  left: 23px;
  display: inline-block;
  width: 220px;
  opacity: 0.5;
}
.baseline-error-outline-24px-icon1 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
  opacity: 0.5;
}
.your-location-will-help-us-ser-group {
  position: absolute;
  top: 257px;
  left: 995px;
  width: 243px;
  height: 32px;
  font-size: var(--font-size-xs);
}
.recommended-groups1 {
  position: absolute;
  top: 343px;
  left: 1017px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.logged-in-user-scrolled-fo-child1 {
  position: absolute;
  top: 385px;
  left: 995px;
  border-radius: var(--br-2xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.leisure1 {
  position: absolute;
  top: 394px;
  left: 1043px;
  display: inline-block;
  width: 104px;
}
.logged-in-user-scrolled-fo-child2 {
  position: absolute;
  top: 391px;
  left: 1162px;
  border-radius: var(--br-sm);
  background-color: var(--color-black);
  width: 73px;
  height: 24px;
}
.followed {
  position: absolute;
  top: 395px;
  left: 1174px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  text-align: right;
}
.logged-in-user-scrolled-fo-child3 {
  position: absolute;
  top: 449px;
  left: 1175px;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-300);
  width: 60px;
  height: 24px;
}
.logged-in-user-scrolled-fo-child4 {
  position: absolute;
  top: 443px;
  left: 995px;
  border-radius: var(--br-2xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.activism1 {
  position: absolute;
  top: 452px;
  left: 1043px;
  display: inline-block;
  width: 104px;
}
.follow4 {
  position: absolute;
  top: 453px;
  left: 1187px;
  font-size: var(--font-size-xs);
  text-align: center;
}
.logged-in-user-scrolled-fo-child5 {
  position: absolute;
  top: 507px;
  left: 1175px;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-300);
  width: 60px;
  height: 24px;
}
.logged-in-user-scrolled-fo-child6 {
  position: absolute;
  top: 501px;
  left: 995px;
  border-radius: var(--br-2xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.follow5,
.mba1 {
  position: absolute;
}
.follow5 {
  top: 511px;
  left: 1187px;
  font-size: var(--font-size-xs);
  text-align: center;
}
.mba1 {
  top: 510px;
  left: 1043px;
  display: inline-block;
  width: 104px;
}
.logged-in-user-scrolled-fo-child7 {
  position: absolute;
  top: 565px;
  left: 1175px;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-300);
  width: 60px;
  height: 24px;
}
.follow6 {
  position: absolute;
  top: 569px;
  left: 1187px;
  font-size: var(--font-size-xs);
  text-align: center;
}
.logged-in-user-scrolled-fo-child8 {
  position: absolute;
  top: 559px;
  left: 995px;
  border-radius: var(--br-2xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.philosophy1 {
  position: absolute;
  top: 568px;
  left: 1043px;
  display: inline-block;
  width: 104px;
}
.vector-icon {
  height: 1.76%;
  width: 1.25%;
  top: 33.5%;
  right: 29.65%;
  bottom: 64.75%;
  left: 69.1%;
}
.vector-icon,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 1.05%;
  width: 0.63%;
  top: 33.84%;
  right: 29.81%;
  bottom: 65.11%;
  left: 69.57%;
  opacity: 0.3;
}
.vector-icon2 {
  height: 1.46%;
  width: 1.15%;
  top: 33.57%;
  right: 29.7%;
  bottom: 64.96%;
  left: 69.15%;
}
.baseline-clear-24px-icon1 {
  position: absolute;
  top: 195px;
  left: 1218px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.see-more1 {
  position: absolute;
  top: 649px;
  left: 1175px;
  font-size: var(--font-size-xs);
  color: var(--color-royalblue);
  text-align: right;
}
.logged-in-user-scrolled-fo {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-ibm-plex-sans);
}
